@import '../../Colors.module.scss';

.container {
    display: flex;
    flex-direction: row-reverse;

    button {
        border: 0;
        background: #fff url(./Union.svg) center center no-repeat;
        background-size: 16px 16px;

        height: 40px;
        width: 48px;

        cursor: pointer;
    }

    input {
        flex-grow: 1;
        height: 40px;
        background-color: #fff;
        border: 0px;
        padding: 0;
        font-size: 1em;
        color: $mainColor;

        &::placeholder {
            color: $mainColor;
            opacity: 1;
        }

        &:focus-visible {
            outline: none;
        }
    }
}
