.container {
    color: #000;
    background: #fff;
    max-width: 100%;
    overflow-x: hidden;

    .events {
        margin: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .event {
            padding: calc(66% + 16px) 8px 0 8px;
            position: relative;

            button {
                position: absolute;
                top: 8px;
                left: 8px;

                width: calc(100% - 16px);
                height: calc(100% - 16px);

                border: 0px;
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                cursor: pointer;
            }
        }
    }
}

@media (max-width: 630px) {
    .container {
        .events {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 430px) {
    .container {
        .events {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 350px) {
    .container {
        .events {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
