.container {
    padding: 0 32px 24px 32px;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding-right: 24px;
        }
    }
}

@media (max-width: 630px) {
    .container {
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 8px;

            li {
                display: block;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 430px) {
    .container {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
