@import './../../Colors.module.scss';

.container {
    background-color: $mainColor;
    color: #fff;

    margin: 8px 0;
    position: relative;
    left: -24px;
    width: calc(100% + 24px + 24px);

    .arrowContainer {
        position: relative;
        margin: 0 32px;
        width: calc(100% - 64px);

        .arrow {
            position: absolute;
            left: 50%;
            top: -12px;
            width: 0;
            height: 0;

            border-bottom: 12px solid $mainColor;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
        }
    }

    .contentContainer {
        display: flex;

        .details {
            flex: 1 1 50%;
            padding: 32px;
            box-sizing: border-box;

            h3 {
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px; /* 125% */

                margin: 0;
                padding: 0;

                margin-bottom: 16px;
            }

            .venueName {
                text-transform: uppercase;
            }

            .venue,
            .date {
                margin-bottom: 8px;
                line-height: 24px;

                background-repeat: no-repeat;
                background-position: left center;
                background-size: 16px 16px;

                padding-left: 26px;
            }

            .venue {
                background-image: url('./Buildings.svg');
            }
            .date {
                background-image: url('./Calendar.svg');
            }
        }

        .image {
            flex: 1 1 50%;
            position: relative;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            &::after {
                content: ' ';
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    $mainColor 6.73%,
                    rgba(37, 43, 64, 0) 33.05%
                );
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .content {
            padding: 8px 0 16px 0;
        }

        .buttons {
            margin-top: 16px;

            button {
                padding: 8px 24px;
                border: 1px solid #fff;
                line-height: 24px;
                background-color: transparent;
                color: #fff;
                cursor: pointer;

                transition: all 0.3s;

                &:hover {
                    background: #fff;
                    color: $mainColor;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .container {
        .contentContainer {
            .image {
                display: none;
            }
        }
    }
}
