.link {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;

    transition: all 0.3s;

    &:active,
    &:hover {
        color: #fec017;
    }
}

.active {
    color: #fec017;
}
