.top {
    display: flex;
    padding: 32px;

    h1 {
        flex: 1 1;

        padding: 0;
        margin: 0;

        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 120% */
    }

    .search {
        flex: 0 1 auto;
        width: 100%;
        max-width: 336px;
    }
}

@media (max-width: 660px) {
    .top {
        flex-direction: column-reverse;

        .search {
            max-width: 100%;
            padding-bottom: 16px;
        }
    }
}
