@import './../../Colors.module.scss';

.container {
    background: $mainColor;
    border: 1px solid #fff;
    border-width: 1px 0;
    padding: 32px;
    display: flex;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;

        li {
            display: block;
            text-align: center;
        }
    }
}

@media (max-width: 630px) {
    .container {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 430px) {
    .container {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
