@import './Colors.module.scss';

body,
input,
button {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $mainColor;
    color: #fff;

    & > main {
        flex: 1 1;
    }
    header {
        flex: 0 1 auto;
    }
    footer {
        flex: 0 1 auto;
    }
    main {
        display: flex;

        & > div {
            width: 100%;
        }
    }
}
